.btn__panel {
  // margin-top: 10px;
  // margin-bottom: 10px;
  width: 100%;
  //   max-height: 32px;
  display: grid;
  .sort__input:hover,
  .selected {
    background-color: $some-2;
  }
}

.sort {
  // margin-left: 6px;
  //   padding-top: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  text-align: center;

  //   background-color: whitesmoke;
  //   border-radius: 5px;
  //   margin-top: auto;
  //   margin-bottom: auto;
}

.sort__cover {
  // border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $some-2;
  overflow: auto;
}

.sort__label {
  display: inline-block;
  color: whitesmoke;
  font-size: 100%;
  font-weight: 300;
  margin-left: 18px;
  padding-top: 8px;
  /* margin-top: auto; */
}

.sort__options {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  overflow: auto;
  overflow-x: hidden;
}

.sort__input {
  font-size: 100%;
  color: whitesmoke;
  padding-top: 8px;
  border-left: 2px solid $some-2;
  transition: background-color 0.3s;
}

.sort__input:active {
  background-color: $text-color-1;
}

.trackers_panel {
  grid-template-columns: 2fr minmax(374px, 1fr);

  .btn__div {
    grid-template-columns: repeat(3, 1fr);
  }
}
.raters_panel {
  grid-template-columns: 2fr 248px;

  .btn__div {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    .btn {
      text-align: left;
    }
  }
}

.btn__div {
  width: 100%;
  // border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  //   background-color: $some-5;
  //   background-color: $play;
  background-image: linear-gradient(to right, $some-2, $play);
  //   font-weight: 400;
  overflow: auto;
  display: grid;
  transition: background-image 0.3s;

  .btn__div-label {
    font-size: 100%;
    letter-spacing: 2px;
    margin-left: 12px;
    padding-top: 8px;
    font-weight: 400;
  }
  .btn {
    margin-left: 2px;
    text-align: center;
    font-size: 100%;
    font-weight: 400;
    color: $text-color-1;
    //   color: #aaa;
    padding-top: 8px;
    //   border-left: 2px solid $text-color-1;
  }
  .btn:hover {
    color: whitesmoke;
    // color: $text-color-1;
  }
}

.btn__div:hover {
  background-image: linear-gradient(to right, $some-2, rgb(10, 100, 10));
}

.btn__hidden {
  visibility: hidden;
}
