.page-0 {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  height: 250px;
  // transform: translateX(100%);
  // row-gap: 10px;
  .first_column {
    display: grid;
    grid-template-rows: 30px 30px 2fr;
    grid-template-columns: minmax(160px, 1fr) 2fr;
    row-gap: 6px;
    .description_input {
      height: 100px;
    }
    p {
      margin-bottom: 6px;
      padding-left: 20px;
      grid-column-start: 1;
      grid-column-end: 3;
      color: salmon;
      font-size: 70%;
    }
  }

  .second_column_3 {
    display: grid;
    grid-template-rows: 30px 60px auto;
    border-left: 2px solid $some-2;
    label {
      text-align: center;
    }
    p {
      font-size: 80%;
      color: $text-color-1;
      text-align: center;
    }
    .descriptions {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: 1.8fr 1fr;
      row-gap: 4px;
      input {
        width: 160px;
        margin-left: 20px;
      }
      .icon {
        color: $some-3;
      }
    }
  }
}
